<img src="https://media.makeameme.org/created/just-ask-me-7ed2fbb1b0.jpg" alt="">
<div class='container'>
  <form action="/answer">
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
</div>
